<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bar Charts / HighCharts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Simple Bar Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple Bar Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

  <ion-list-header color="light">Stacked Bar Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Stacked Bar Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="stacked" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

  <ion-list-header color="light"> Bar Chart with Negative values</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Bar Chart - Neg. values</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="negative" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

  <ion-list-header color="light">Simple Vertical Bar Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple Vertical Bars</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="vertical" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

</ion-content>