<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Scatter Charts / HighCharts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Simple Scatter Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple Scatter Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="scatter" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

</ion-content>